
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin:5px 5px 5px 25px;
	padding: 0;
	background: #D4D4D4 url(image/bianqian/img1.gif);
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	color: #704B3A;
}

/*
h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
}
*/


.greennotes {
	margin-bottom: 20px;
	background: #AEE63F url(image/bianqian/img4.gif) no-repeat left bottom;
}

.greennotes .heading {
	height: 20px;
	padding: 10px;
	background: url(image/bianqian/img5.gif) repeat-x left center;
}

.greennotes .content {
	padding: 0 20px 60px 20px;
}


#archives {
	float: left;
	margin-right:20px;
	width: 250px;
	height: 200px;
}

/* Categories */

#categories {
	float: left;
	margin-right:15px;
	width: 250px;
}


.orangenotes {
	margin-bottom: 20px;
	background: #FF8C46 url(image/bianqian/img6.gif) no-repeat left bottom;
}

.orangenotes .heading {
	height: 20px;
	padding: 10px;
	background: url(image/bianqian/img7.gif) repeat-x left center;
}

.orangenotes .content {
	padding: 0 20px 60px 20px;
}
