<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yanshu.dao.StoreProcessMapper" >
  <resultMap id="StoreProcessResultMap" type="cn.yanshu.entity.StoreProcess" >
    <id column="sp_Id" property="spId" jdbcType="INTEGER" />
    <result column="sp_Name" property="spName" jdbcType="VARCHAR" />
    <result column="sp_Author" property="spAuthor" jdbcType="VARCHAR" />
    <result column="sp_Database" property="spDatabase" jdbcType="VARCHAR" />
    <result column="sp_Function" property="spFunction" jdbcType="VARCHAR" />
    <result column="sp_Comment" property="spComment" jdbcType="VARCHAR" />
  </resultMap>
  
    <insert id="insert" parameterType="cn.yanshu.entity.StoreProcess" >
    insert into sp ( sp_Name, sp_Author, 
      sp_Database, sp_Function, sp_Comment
      )
    values ( #{spName,jdbcType=VARCHAR}, #{spAuthor,jdbcType=VARCHAR}, 
      #{spDatabase,jdbcType=VARCHAR}, #{spFunction,jdbcType=VARCHAR}, #{spComment,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="selectPageCount" parameterType="Page" resultType="long">
      select  count(1) from sp  
      <if test="keyWord!=null">
          where sp_Name like #{keyWord.spName}
      </if>
  </select>
  <select id="selectPage"  parameterType="Page"  resultMap="StoreProcessResultMap">
       select *  from sp  
       <if test="keyWord!=null">
         where sp_Name like #{keyWord.spName}
      </if>
      limit #{start},#{rows}
  </select>
  
  
  <update id="update" parameterType="StoreProcess">
     update  sp  set  sp_Name=#{spName}, sp_Author=#{spAuthor}, 
      sp_Database=#{spDatabase}, sp_Function=#{spFunction}, sp_Comment=#{spComment}
      where  sp_Id=#{spId}
  </update>
  
  
  <delete id="deleteList" >
     delete  from  sp  
     where  sp_Id in 
     <foreach collection="array" open="(" close=")"  separator="," item="id">
       #{id}
     </foreach>
  
  </delete>
  
  
  <select id="selectAll"  resultMap="StoreProcessResultMap">
     select  *  from  sp
  </select>
  
  <!-- 通过名字判断存储过程是否存在 -->
  <select id="selectExist" parameterType="StoreProcess" resultMap="StoreProcessResultMap">
      select  *  from  sp  where  sp_Name=#{spName}
  </select>
  
</mapper>