<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yanshu.dao.UserMapper" >
  <resultMap id="UserResultMap" type="cn.yanshu.entity.User" >
    <id column="user_Id" property="userId" jdbcType="INTEGER" />
    <result column="user_Name" property="userName" jdbcType="VARCHAR" />
    <result column="user_Password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_Type" property="userType" jdbcType="VARCHAR" />
    <result column="user_Description" property="userDescription" jdbcType="VARCHAR" />
    <association property="role" resultMap="cn.yanshu.dao.RoleMapper.RoleResultMap"></association>
  </resultMap>
  
    <insert id="insert" parameterType="cn.yanshu.entity.User" >
    insert into user ( user_Name, user_Password, 
      user_Type, role_Id, user_Description
      )
    values (#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{role.roleId}, #{userDescription,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <select id="login" parameterType="User" resultMap="UserResultMap">
     select  user_Name, user_Password,user_Id,user_Type,user_Description, 
     role.role_Id, role_Name, role_Desc
     from  user  
     inner join role  on user.role_Id=role.role_Id
     where  user_Name=#{userName}  and  user_Password=#{userPassword}
  </select>
  
  <update id="updatePwd"  parameterType="map">
      update    user  set  user_Password=#{pwd}  where  user_Id=#{id}
  </update>
  
  <select id="selectPageCount"  parameterType="Page" resultType="long">
    SELECT  count(1) FROM  USER  INNER JOIN  role  ON user.role_Id=role.role_Id
    <if test="keyWord!=null">
         WHERE  role_name LIKE   #{keyWord.role.roleName}
    </if>
  </select>
  
  <select id="selectPage"  parameterType="Page" resultMap="UserResultMap">
      SELECT * FROM  USER  INNER JOIN  role  ON user.role_Id=role.role_Id
    <if test="keyWord!=null">
         WHERE  role_name LIKE   #{keyWord.role.roleName}
    </if>
  </select>
  
  <update id="update" parameterType="User">
     update  user  
     <set>
        user_Password=#{userPassword},
        user_Description=#{userDescription},
        role_Id=#{role.roleId},
       <if test="userType!=null">
        user_Type=#{userType}
       </if>
     </set>  
     where user_Id=#{userId}
  </update>
  
  
  <delete id="deleteList">
     delete  from  user  where  user_Id in 
     <foreach collection="array" open="(" close=")" separator="," item="id">
         #{id}
     </foreach>
  </delete>
</mapper>